<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fatura de Energia Elétrica</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .invoice-container {
      width: 800px;
      margin: 0 auto;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .invoice-header {
      text-align: center;
      margin-bottom: 20px;
    }

    .invoice-header h1 {
      color: #333;
      margin-bottom: 10px;
    }

    .invoice-header p {
      color: #777;
      margin: 0;
    }

    .invoice-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .invoice-details .left {
      width: 50%;
    }

    .invoice-details .right {
      width: 50%;
      text-align: right;
    }

    .invoice-items {
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }

    .invoice-item {
      float: left;
      width: 50%;
      box-sizing: border-box;
      display: flex;
      flex-basis: 50%;
    }

    .invoice-item:last-child {
      border-bottom: none;
    }

    .invoice-item .description {
      color: #555;
      font-weight: bold;
    }

    .invoice-item .amount {
      color: #777;
    }

    .invoice-total {
      text-align: right;
      margin-top: 20px;
    }

    .invoice-total .label {
      font-weight: bold;
      color: #555;
    }

    .invoice-total .value {
      color: #333;
    }
  </style>
</head>
<body>
  <div class="invoice-container">
    <div class="invoice-header">
      <h1>Fatura de Energia Elétrica</h1>
      <p>Boleto Solar</p>
      <p>Mossoró - RN</p>
      <p>CEP: 59633-770 </p>
    </div>

    <div class="invoice-details">
      <div>
        <p><%= @leitura.imovel.morador.nome %></p>
        <p><%= @leitura.imovel.endereco %></p>
      </div>
      <div>
        <p>Número da Fatura: <%= @leitura.id %></p>
        <p>Data de Emissão: <%= Date.today %></p>
      </div>
    </div>

    <div class="invoice-items">
      <div class="invoice-item">
        <p class="description">Consumo de Energia Elétrica</p>
        <p class="amount"><%= @leitura.valor %> kWh</p>
      </div>

      <div class="invoice-item">
        <p class="description">Valor do kWh</p>
        <p class="amount">R$ <%= number_with_precision(Taxa.last.valor_kwh, precision: 2) %></p>
      </div>
    </div>

    <div class="invoice-total">
      <p class="label">Total:</p>
      <p class="value">R$ <%= @leitura.valor_fatura %></p>
    </div>
  </div>
</body>
</html>