<p id="notice"><%= notice %></p>

<h1>Moradores</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moradores.each do |morador| %>
      <tr>
        <td><%= morador.cpf %></td>
        <td><%= morador.nome %></td>
        <td><%= link_to 'Show', morador %></td>
        <td><%= link_to 'Edit', edit_morador_path(morador) %></td>
        <td><%= link_to 'Destroy', morador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Morador', new_morador_path %>
